#navbar > a > .button, #navbar > a > .button:hover, .main-content > #state-button, .main-content > #state-button:hover {
  transition-duration: 0.3s;
}

/*
Implementation in css of the stars works with ~ and + selector and svgs
and radio group
 */
.inspi-category > .star-level {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
  transform: scale(0.6);
}
.inspi-category > .star-level i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=");
  background-size: contain;
}
.inspi-category > .star-level input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.inspi-category > .star-level input:hover + i,
.inspi-category > .star-level input:checked + i {
  opacity: 1;
}
.inspi-category > .star-level.star-4 {
  width: 200px;
}
.inspi-category > .star-level.star-4 input,
.inspi-category > .star-level.star-4 i {
  width: 25%;
}
.inspi-category > .star-level.star-4 i ~ i {
  width: 50%;
}
.inspi-category > .star-level.star-4 i ~ i ~ i {
  width: 75%;
}
.inspi-category > .star-level.star-4 i ~ i ~ i ~ i {
  width: 100%;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/images/gradient4.png");
  background-size: cover;
  background-position: center;
  font-family: "Microsoft Yi Baiti", "Verdana", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

p {
  margin: 0;
}

.background-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 70px;
  background: rgba(0, 0, 0, 0.5);
}

#navbar {
  height: 60px;
  width: 100%;
  padding-top: 10px;
}
#navbar > a > .button {
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
}
#navbar > a > .button:hover {
  transform: scale(1.1);
}
#navbar > a > .button.left {
  float: left;
  margin-left: 40px;
}
#navbar > a > .button.right {
  float: right;
  margin-right: 80px;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

.paragraph-title {
  font-size: 17px;
}

.left-title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  position: relative;
  width: 100%;
  height: calc(100% - 285px);
  overflow-y: scroll;
}
.main-content > #state-button {
  display: flex;
  position: fixed;
  width: fit-content;
  padding: 12px 18px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  cursor: pointer;
  transform: translateY(-20px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 10;
}
.main-content > #state-button:hover {
  transform: scale(1.05);
}
.main-content > #state-button.start {
  left: calc(50% - 154px / 2);
  background: #63bb6b;
}
.main-content > #state-button.end {
  left: calc(50% - 180px / 2);
  background: #C13636;
}
.main-content > .medium-box {
  position: relative;
  width: 80%;
  height: 240px;
  background: #6C2FCC;
  margin: 80px auto 24px auto;
  box-sizing: border-box;
}
.main-content > .medium-box > #medium-info-container {
  width: fit-content;
  padding-top: 15px;
  margin: auto;
  text-align: center;
  font-size: 14px;
}
.main-content > .client-box {
  position: relative;
  width: 80%;
  height: 240px;
  background: #33AFA6;
  margin: 24px auto;
}
.main-content > .client-box > .client-info-container {
  width: fit-content;
  margin: auto;
  font-size: 15px;
}
.main-content > .client-box > .client-info-container > div {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  text-align: center;
  margin: 0 40px;
}
.main-content > .client-box > .client-info-container > .client-identity {
  padding-top: 50px;
}
.main-content > .client-box > .client-info-container > .client-astro {
  padding-top: 20px;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row {
  width: 200px;
  margin: 5px auto;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .card {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 90px;
  width: 90px;
  box-shadow: 0 4px 8px 0 rgba(16, 25, 40, 0.1);
  text-align: center;
  font-size: 8px;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .card > p {
  width: fit-content;
  color: black;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .card > p:first-child {
  position: absolute;
  top: 5px;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .card > p:last-child {
  color: white;
  font-size: 13px;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .cyan {
  background-color: #AAE5E3;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .blue {
  background-color: #AAC7E2;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .purple {
  background-color: #AAAAE2;
}
.main-content > .client-box > .client-info-container > .client-astro > .astral-profile-container > .astral-profile-row > .mauve {
  background-color: #C2AAE2;
}
.main-content > .client-box > .client-info-container > .client-contact {
  padding-top: 50px;
}
.main-content > .history-box {
  display: flex;
  width: 80%;
  min-height: 60px;
  background: #33AFA6;
  margin: 14px auto;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
.main-content > .history-box > .history-date {
  width: 260px;
  font-size: 17px;
}
.main-content > .history-box > .history-medium {
  width: 300px;
  font-weight: bold;
  font-size: 18px;
}
.main-content > .history-box > .history-commentary {
  flex: 1;
}
.main-content > .inspiration-container {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #843434;
  min-height: 215px;
  width: 100%;
}
.main-content > .inspiration-container > .categories {
  width: fit-content;
  height: 100%;
  margin: auto;
}
.main-content > .inspiration-container > .categories > .inspi-category {
  display: inline-flex;
  width: 380px;
  height: fit-content;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.main-content > .inspiration-container > .categories > .inspi-category > .inspiration-message {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 15px;
  color: black;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/*# sourceMappingURL=employee-dashboard-session.css.map */
