@use "commons";

body {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/images/gradient4.png");
  background-size: cover;
  background-position: center;
  font-family: "Microsoft Yi Baiti", "Verdana", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

p {
  margin: 0;
}

.background-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 70px;
  background: rgba(0, 0, 0, 0.5);
}

#navbar {
  height: 60px;
  width: 100%;
  padding-top: 10px;

  > a > .button {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    @extend %base-transition-duration;

    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.1);
    }

    &.left {
      float: left;
      margin-left: 40px;
    }

    &.right {
      float: right;
      margin-right: 80px;
    }

  }
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

.paragraph-title {
  font-size: 17px;
}

.left-title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  position: relative;
  width: 100%;
  height: calc(100% - 250px);
  overflow-y: scroll;

  > #start-button {
    display: flex;
    position: fixed;
    left: calc(50% - 154px / 2);
    width: fit-content;
    padding: 12px 18px;
    font-size: 18px;
    background: rgb(99, 187, 107);
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.05);
    }
    z-index: 100;
  }

  > .medium-box {
    position: relative;
    width: 80%;
    height: 240px;
    background: #6C2FCC;
    margin: 80px auto 24px auto;
    box-sizing: border-box;

    > #medium-info-container {
      width: fit-content;
      padding-top: 15px;
      margin: auto;
      text-align: center;
      font-size: 14px;
    }

  }

  > .client-box {
    position: relative;
    width: 80%;
    height: 240px;
    background: #33AFA6;
    margin: 24px auto;

    > .client-info-container {
      width: fit-content;
      margin: auto;
      font-size: 15px;

      > div {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        text-align: center;
        margin: 0 40px;
      }

      > .client-identity {
        padding-top: 50px;
      }
      > .client-astro {
        padding-top: 20px;

        > .astral-profile-container {

          > .astral-profile-row {
            width: 200px;
            margin: 5px auto;

            > .card {
              position: relative;
              display: inline-flex;
              vertical-align: top;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              height: 90px;
              width: 90px;
              box-shadow: 0 4px 8px 0 rgb(16 25 40 / 10%);
              text-align: center;
              font-size: 8px;

              > p {
                width: fit-content;
                color: black;

                &:first-child {
                  position: absolute;
                  top: 5px;
                }
                &:last-child {
                  color: white;
                }
              }
            }

            > .cyan {
              background-color: #AAE5E3;
            }

            > .blue {
              background-color: #AAC7E2;
            }

            > .purple {
              background-color: #AAAAE2;
            }

            > .mauve {
              background-color: #C2AAE2;
            }
          }
        }

      }
      > .client-contact {
        padding-top: 50px;

      }
    }

  }

  > .history-box {
    display: flex;
    width: 80%;
    height: 60px;
    background: #33AFA6;
    margin: 14px auto;
    align-items: center;
    flex-direction: row;
    text-align: center;

    > .history-date {
      width: 260px;
      font-size: 17px;
    }
    > .history-medium {
      width: 300px;
      font-weight: bold;
      font-size: 18px;
    }
    > .history-commentary {
      flex: 1;
    }
  }

  > .inspiration-container {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #843434;
    height: 180px;
    width: 100%;

    > .categories {
      width: fit-content;
      height: 100%;
      margin: auto;

      > .inspi-category {
        display: inline-flex;
        width: 380px;
        height: fit-content;
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;

        > .inspiration-message {
          font-size: 14px;
          font-weight: normal;
          padding: 10px 15px;
          color: black;
          background: white;
          border-radius: 20px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }

      }

    }

  }

}

.star-level {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
  transform: scale(0.5);
}
.star-level i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-level input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-level input:hover + i,
.star-level input:checked + i {
  opacity: 1;
}
.star-level i ~ i {
  width: 40%;
}
.star-level i ~ i ~ i {
  width: 60%;
}
.star-level i ~ i ~ i ~ i {
  width: 80%;
}
.star-level i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-level.star-5 {width: 250px;}
.star-level.star-5 input,
.star-level.star-5 i {width: 20%;}
.star-level.star-5 i ~ i {width: 40%;}
.star-level.star-5 i ~ i ~ i {width: 60%;}
.star-level.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-level.star-5 i ~ i ~ i ~ i ~i {width: 100%;}
