@use "commons";
@use "stars";

body {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/images/gradient4.png");
  background-size: cover;
  background-position: center;
  font-family: "Microsoft Yi Baiti", "Verdana", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

p {
  margin: 0;
}

.background-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 70px;
  background: rgba(0, 0, 0, 0.5);
}

#navbar {
  height: 60px;
  width: 100%;
  padding-top: 10px;

  > a > .button {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    @extend %base-transition-duration;

    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.1);
    }

    &.left {
      float: left;
      margin-left: 40px;
    }

    &.right {
      float: right;
      margin-right: 80px;
    }

  }
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

.paragraph-title {
  font-size: 17px;
}

.left-title {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  position: relative;
  width: 100%;
  height: calc(100% - 250px);
  overflow-y: scroll;

  > #state-button {
    display: flex;
    position: fixed;
    width: fit-content;
    padding: 12px 18px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;

    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.05);
    }

    &.start {
      left: calc(50% - 154px / 2);
      background: rgb(99, 187, 107);
    }

    &.end {
      left: calc(50% - 180px / 2);
      background: #C13636;
    }

  }

  > .medium-box {
    position: relative;
    width: 80%;
    height: 240px;
    background: #6C2FCC;
    margin: 80px auto 24px auto;
    box-sizing: border-box;

    > #medium-info-container {
      width: fit-content;
      padding-top: 15px;
      margin: auto;
      text-align: center;
      font-size: 14px;
    }

  }

  > .client-box {
    position: relative;
    width: 80%;
    height: 240px;
    background: #33AFA6;
    margin: 24px auto;

    > .client-info-container {
      width: fit-content;
      margin: auto;
      font-size: 15px;

      > div {
        display: inline-block;
        vertical-align: top;
        width: 220px;
        text-align: center;
        margin: 0 40px;
      }

      > .client-identity {
        padding-top: 50px;
      }
      > .client-astro {
        padding-top: 20px;

        > .astral-profile-container {

          > .astral-profile-row {
            width: 200px;
            margin: 5px auto;

            > .card {
              position: relative;
              display: inline-flex;
              vertical-align: top;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              height: 90px;
              width: 90px;
              box-shadow: 0 4px 8px 0 rgb(16 25 40 / 10%);
              text-align: center;
              font-size: 8px;

              > p {
                width: fit-content;
                color: black;

                &:first-child {
                  position: absolute;
                  top: 5px;
                }
                &:last-child {
                  color: white;
                }
              }
            }

            > .cyan {
              background-color: #AAE5E3;
            }

            > .blue {
              background-color: #AAC7E2;
            }

            > .purple {
              background-color: #AAAAE2;
            }

            > .mauve {
              background-color: #C2AAE2;
            }
          }
        }

      }
      > .client-contact {
        padding-top: 50px;

      }
    }

  }

  > .history-box {
    display: flex;
    width: 80%;
    min-height: 60px;
    background: #33AFA6;
    margin: 14px auto;
    align-items: center;
    flex-direction: row;
    text-align: center;

    > .history-date {
      width: 260px;
      font-size: 17px;
    }
    > .history-medium {
      width: 300px;
      font-weight: bold;
      font-size: 18px;
    }
    > .history-commentary {
      flex: 1;
    }
  }

  > .inspiration-container {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #843434;
    min-height: 215px;
    width: 100%;

    > .categories {
      width: fit-content;
      height: 100%;
      margin: auto;

      > .inspi-category {
        display: inline-flex;
        width: 380px;
        height: fit-content;
        font-weight: bold;
        font-size: 18px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;

        > .inspiration-message {
          font-size: 14px;
          font-weight: normal;
          padding: 10px 15px;
          color: black;
          background: white;
          border-radius: 20px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }

      }

    }

  }

}