@use "commons";

body {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/images/gradient4.svg");
  background-size: cover;
  font-family: "Microsoft Yi Baiti", "Verdana", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}
a {
  color: white;
}

#navbar {
  height: 100px;
  width: 100%;
  padding-top: 10px;
  > a > .button {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.1);
    }
    &.left {
      float: left;
      margin-left: 40px;
    }

    &.right {
      float: right;
      margin-right: 80px;
    }

  }
}

#middle-container {
  width: 600px;
  height: 600px;
  padding-top: 120px;
  margin: auto;

  > .request-title {
    width: fit-content;
    font-size: 38px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  > .request-form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.4em;

    & > span {
      font-weight: bold;
      color: #AE76FF;
    }

  }

  > .switch-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px auto 20px auto;

    > .switch-selector {
      cursor: pointer;
      font-size: 18px;
      @extend %base-transition-duration;
      &:hover {
        @extend %base-transition-duration;
        color: #1967bf
      }
    }

    > .switch-groove {
      width: 60px;
      height: 1em;
      background-color: white;
      border-radius: 10px;
      margin: 0 8px;

      > #switch-indicator {
        margin-top: 0.5px;
        margin-left: 1px;
        margin-right: 1px;
        width: 44%;
        height: 90%;
        border-radius: 10px;
        background-color: #AE76FF;

        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
      }

    }
  }

  > .request-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 34px;
    margin: 50px auto;
    font-size: 14px;
    text-align: center;
    background-color: #AE76FF;
    border-radius: 20px;
    cursor: pointer;

    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.04);
    }
  }

}