@use "commons";

body {
  width: 100%;
  height: 100%;
  background-image: url("../../resources/images/gradient2.png");
  background-size: cover;
  background-position: center;
  font-family: "Microsoft Yi Baiti", "Verdana", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

#navbar {
  height: 100px;
  width: 100%;
  padding-top: 10px;
  > a > .button {
    cursor: pointer;
    padding: 10px;
    font-size: 22px;
    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.1);
    }
    &.left {
      float: left;
      margin-left: 40px;
    }

    &.right {
      float: right;
      margin-right: 80px;
    }

  }
}

#middle-container {
  width: 600px;
  height: 600px;
  padding-top: 60px;
  margin: auto;

  > .signup-title {
    width: fit-content;
    font-size: 38px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  > .signup-form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    > div {
      width: 410px;
      height: 32px;
      box-sizing: border-box;
      margin: 20px;

      > .large-input {
        text-align: center;
        vertical-align: middle;
        display: block;
        width: 400px;
        height: 1.2em;
        padding: 5px;
        font-size: 18px;
        border: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      }

      > .medium-input {
        text-align: center;
        display: block;
        width: 180px;
        height: 1.2em;
        padding: 5px 0 5px 0;
        font-size: 18px;
        border: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        &.left {
          float: left;
        }
        &.right {
          float: right;
        }
        &.center {
          margin: auto;
        }

      }

    }

  }

  > #signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 34px;
    margin: 50px auto;
    font-size: 14px;
    text-align: center;
    background-color: #AE76FF;
    border-radius: 20px;
    cursor: pointer;

    @extend %base-transition-duration;
    &:hover {
      @extend %base-transition-duration;
      transform: scale(1.04);
    }
  }

  > .signup-footer {
    width: fit-content;
    margin: auto;
    > span {
      cursor: pointer;
      font-weight: bold;
      color: #AE76FF;
      @extend %base-transition-duration;
      &:hover {
        @extend %base-transition-duration;
        text-decoration: underline;
      }
    }
  }

}